#clock{ 
    width: 75%; height: 75%
}
#StringDateContainer{
    padding-top: 1em;
    font-size: 2em;
}

#face {
	stroke-width: 2px; stroke: #bebebe; fill: #000000;
}
#hour, #min {
	stroke-width: 1px; fill: #333; stroke: #ffffff;
}
#sec { 
    stroke: #ffffff; 
}
#sectip {
    stroke: #ff2600;
}
#midPoint{
    fill: white;
}
.bigHourMarker{
    stroke: #ffffff;
    stroke-width: 2px;
}

.hourMarker{
    stroke: #ffffff;
    stroke-width: 1px;
}

.minuteMarker{
    stroke: #ffffff;
    stroke-width: 1px;
}
#minor{
    fill: #3f3f3f;
}
.timerOn{
    transition: linear;
    transition-duration: 500ms;
    -webkit-transition: linear;
    -webkit-transition-duration: 500ms;
}
.timerOff{
    transition: none;
    transition-duration:0ms;
    -webkit-transition: none;
    -webkit-transition-duration: 0ms;
}

.hidden{
    transition: none;
    transition-duration: 0s;
    -webkit-transition: none;
    -webkit-transition-duration: 0s;
}

/* adjust the UI for horizontal layout */
@media only screen and (max-height: 500px){
    #clock{
        max-width: 300px;
        max-height: 300px;
    }
    #StringDateContainer{
        width: 300px;
        font-size: 1em;
        padding-top: 1em;
    }

    @media only screen and (min-height: 500px){
        
        #StringDateContainer{
            width: 300px;
            font-size: 0.5em;
            padding-top: 0.5em;
        }
    }
}