.App {
  text-align: center;
}
.material-icons{
  vertical-align:middle;
}
.clockContainer{
  justify-content: center;
}
*/
/* Prevent the text contents of draggable elements from being selectable. */
[draggable] {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  /* Required to make elements draggable in old WebKit */
  -khtml-user-drag: element;
  -webkit-user-drag: element;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

/* move to jss */
@media only screen and (max-width: 599px){
  
  .clock {
    width: 350px;
    justify-content: center;
  }
  
}
@media only screen and (min-width: 600px){
  
  .clock {
    width: 500px;
    justify-content: center;
  } 
  
}
@media only screen and (min-width: 960px){

  .clock {
    width: 940px;
    justify-content: center;
  }
  
}