.App {
  text-align: center;
  height: 100%;
}
.Clock{
  height: 60%;
}
#clock{
  max-height: 1000px;
}
#SettingsContainer{
  height: 40%;
}
.SectionItemBox{
  border: black;
  border-style: solid;
  border-width: 2px;
  border-radius: 2em;
  min-height: 200px;
  min-width: 230px;
  /* cursor: move; */
}
.MoveArrow{
  cursor: pointer;
  font-weight: bold;
  font-size: 1em;
}
#CustomStart{
  margin: 1em
}
.PositionSelector{
  width:2em;
  text-align: center;
  margin-left: 1em;
}
.NameInputBox{
  font-weight: bold;
  width: 9em;
  height: 1.2em;
  text-align: center;
  margin-left: 0.5em;
  resize: none;
}
.DeleteSectionBtn{
  font-size: 1.2em;
  cursor: pointer;
}
.DescriptionBox{
  margin: 0.5em;
  width: 80%;
  height: 20%;
  resize: none;
  text-align: center;
  overflow: auto;
}
.DurationSelector{
  margin: 0.5em;
  width: 3em;
}
.ColorSelector{
  margin: 0.5em;
}
.HeaderContainer{
  font-weight: bold; 
  display: flex;
  padding-inline-start: 1em;
  margin-top: 1em;
  justify-content: center;
}
.SectionInfoBox{
  display: block;
  height: 3em;
  font-size: 2em;
  font-weight: bold;
  margin: 0.5em;
  margin-bottom: 0em;
  border-radius: 2em;
  border-style: solid;
  border-top-color: black;
  overflow: hidden;

}
.SectionInfoDescription{
  margin: 0 auto;
  white-space: nowrap;
  font-size: 1em;
  font-weight: normal;
  width: 100%;
  display: inline-block;
  padding-left: 100%;
  animation: marquee 15s linear infinite;
}
@keyframes marquee{
  0%   { transform: translate(0, 0); }
  100% { transform: translate(-100%, 0); }
}
#ExcerciseSelector{
  width: 200px;
}
#App-configbox{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-gap: 10px;
  padding-right: 1em;
  padding-left: 1em;
  padding-bottom: 1em;
  overflow: auto;
  height: 100%;
}
#AddSection{
  border: black;
  border-style: dashed;
  border-width: 2px;
  border-radius: 2em;
  min-height: 200px;
  
}
.NewSectionContent{
  line-height: 4em;
  vertical-align: middle;
  font-size: 3em;
}

#customStart{
  resize: none;
}
#TimeInput{
  width: 100px;
}
.GeneralSettingsContainer{
  display: flex;
  border: black;
  border-style: solid;
  border-width: 2px;
  border-radius: 2em;
  background-color: #b6b6b6;
  margin: 1em;
  justify-content: center;
  display: flex;
  padding: 1em;
  font-weight: bold;
  font-size: 1em;
}
.GeneralSettingsContainer > span{
  margin-top: 1.5em;
  margin-left: 1%;
}
.SettingsControl{
  display: block;
  height: 2em;
  width: 4em;
  border-style: solid;
  background-color: #dbdbdb;
  padding: 1em;
  margin-left: 3%;
  border-radius: 2em;
  border-color: black;
  cursor: pointer;
}
.SettingsControlTime{
  display: inline-block;
  height: 2em;
  border-style: solid;
  background-color: #dbdbdb;
  padding: 1em;
  margin-left: 1%;
  border-radius: 2em;
  border-color: black;
  cursor: pointer;
  min-width: 100px;
}
.SettingsControlTime > input{
  font-weight: bold;
  text-align: center;
  font-size: 1em;
  width: 2em;
}
.SettingsCombox{
  display: inline-block;
  border-style: solid;
  background-color: #dbdbdb;
  padding: 1em;
  margin-left: 3%;
  border-radius: 2em;
  border-color: black;
  cursor: pointer;
  min-width: 100px;
}
#QuickStartBtn{
  background: linear-gradient(to top, #34696f, #2f5f63);
  box-shadow: 0 8px 0 #1b383b;
  text-shadow: 0 2px 2px rgba(255, 255, 255, 0.2);
}
#ApplyBtn{
  background: linear-gradient(to top, #34696f, #2f5f63);
  box-shadow: 0 8px 0 #1b383b;
  text-shadow: 0 2px 2px rgba(255, 255, 255, 0.2); 
}
#SectionInfo{
  display: block;
  font-size: 2.5em;
}

/* Prevent the text contents of draggable elements from being selectable. */
[draggable] {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  /* Required to make elements draggable in old WebKit */
  -khtml-user-drag: element;
  -webkit-user-drag: element;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
/* transform layout to work on portrait mode */
@media only screen and (max-width: 800px){
  
  .App {
    height: 95%;
  }
  .Clock{
    height: 60%;
  }
  #SettingsContainer{
    height: 40%;
  }
  #App-configbox{
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-gap: 10px;
    height: 330px;
    overflow: auto;
  }
  #CustomStart{
    min-height: 10em;
  }
  .GeneralSettingsContainer{
    display: block;
  }
  .SettingsControl{
    line-height: 1em;
    text-align: center;
    border-style: solid;
    background-color: #dbdbdb;
    margin-left: 1%;
    padding: 1em;
    border-radius: 1em;
    border-color: black;
  }
  .SectionInfoBox{
    display: block;
    height: 3em;
    font-size: 1em;
    font-weight: bold;
    margin: 0.5em;
    margin-bottom: 0em;
    border-radius: 2em;
    border-style: solid;
    border-top-color: black;
    overflow: hidden;
  }
  .SettingsControlTime > input{
    font-weight: bold;
    text-align: center;
    width: 3em;
    font-size: 0.8em;
  }
}

@media only screen and (max-width: 520px){
  .App {
    height: 95%;
  }
  .Clock{
    height: 60%;
  }
  #SettingsContainer{
    height: 40%;
  }
  #App-configbox{
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    height: 330px;
    overflow: auto;
  }
  .GeneralSettingsContainer{
    display: block;
    margin: 0.5em;
    justify-content: center;
    line-height: 2em;
    padding: 1em;
    font-weight: bold;
    font-size: 0.8em;
  }
  .SettingsControl{
    line-height: 1em;
    text-align: center;
    border-style: solid;
    background-color: #dbdbdb;
    margin-left: 1%;
    padding: 1em;
    border-radius: 1em;
    border-color: black;
  }
  .SectionInfoBox{
    display: block;
    height: 3em;
    font-size: 1em;
    font-weight: bold;
    margin: 0.5em;
    margin-bottom: 0em;
    border-radius: 2em;
    border-style: solid;
    border-top-color: black;
    overflow: hidden;
  }
  .SettingsControlTime{
    display: inline-block;
  }
  .SettingsControlTime > input{
    font-weight: bold;
    text-align: center;
    width: 4em;
    font-size: 1em;
  }
}

/* transform layout to work side-by side in landscape mode */

/* orientation based approach */
@media screen and (orientation:landscape)
{
  .Clock{
    float:left;
    width: 60%;
    height: 100%;
  }
  #clock{
    max-width: 1000px;
  }
  #SettingsContainer{
    height: 80%;
    width: 35%;
    float: right;
  }
  #App-configbox{
    grid-template-columns: 1fr;
    height: 90%;
  }
  .GeneralSettingsContainer{
    display: inline-flex;
  }
  .SettingsControl{
    margin-top: 1em;
  }
}